@using System.Globalization
@model IEnumerable<Vehicle>

<div class="row pb-3">
    @foreach (var car in Model)
    {
        <div class="col-sm-6 col-md-4 cil-lg-3 mt-4" >
            <div class="card" style="width:18rem; height:18rem">
                <img class="card-img-top" style="height:160px;width:286px" src="~/@car.PictureUrl">
                <div class="card-block">
                    <p class="card-title h5 text-primary"> @car.Model.Make.Name @car.Model.Name @car.Year </p>
                    <p class="card-title text-info"> @car.Price.ToString("C", CultureInfo.GetCultureInfo("es-cr")) </p>
                    <a asp-area="Customer" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary form-control">Details</a>
                </div>
            </div>
        </div>
    }
</div>
